* {
  box-sizing: border-box;
}
.container text-center {
  color: white;
  text-align: center;
}

.fa {
  padding: 20px;
  font-size: 20px;
  width: 60px;
  text-align: center;
  margin: 5px 2px;
  float: right;
}

.fa-facebook {
  color: #3b5998;
}

.fa-instagram {
  color:#125688;
}

.fa-linkedin {
  color:#007bb5;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-family: 'Galada', cursive;
}

img {
  width: 80%;
  height: 40px;
  margin-left: 50px;
}

.btn-group {
  float: right;
}


.footer { 
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  background-color:#d3d3d3;
}

.footer-index {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  background-color: #b0c4de;
}
  